#global-feedback {
    width: 100vw;
    height: 41px;
    background-color: #CCCCCC;
    padding: 0px 16px;
    margin-top: 90px;
}

#text-banner {
    width: 986px;
    height: 60px;
    padding: 4px 0;
    margin-left: 130px;
}

#text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    margin-top: 20px;
    height: 16px; 
}

#text b:hover,
#text p:hover {
    text-decoration: underline;
    text-decoration-color: black;
    cursor: pointer;
}
